
body{
    display: inline;
    background-color: lightblue;
    overflow: hidden;
}
#backgroud{
    border: solid 1px;
    overflow: hidden;
    margin: 100px auto;
}
.box {
    display:inline;
    background-color: azure;
    margin: 20px;
    padding:30px;
    max-width: 400px;
    min-width: 240px;
    flex: 1;
}

#mingyan{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 0 100px;
    height: 700px;
    overflow-y: auto;
    max-width: 900px;
    min-width: 100px;
}
.box > div{
    float:right;
}

     
